.home__page {
   position: relative;
   width: 100%;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   text-align: center;

  /*  margin-top: 80px;
   padding: 16px 20px; */
   line-height: 1rem;
}

.home__page-vector-img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 70%;
    
}

.home__page-heading  {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.home__page-heading .heading__eyebrow {
    color: var(--COLOR);
    letter-spacing: 1.4px;
}

.heading__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.heading__content .heading__title {
    max-width: 520px;
    margin: 0 auto;
    font-size: var(--font-2xl);
    font-weight: 460;
    line-height: 0.8em;
}

.heading__title-highlighted {
    font-style: italic;
    color: var( --HERO__Heading-SPAN-COLOR);
}

.heading__description {
    max-width: 620px;
    color: var(--COLOR);
    font-size: var(--font-base);
    line-height: 1.4em;
}

.heading__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 20px;
}

.heading__button {
    font-weight: 300;
}

.heading__buttons .heading__button--primary {
    background-color: var(--HERO__BTN-BG);
    color: var(--HERO__Button-COLOR);
    font-size: var(--font-base);
    padding: 16px 20px;
    border-radius: 999px;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

.heading__buttons .heading__button--primary:hover {
    background-color: var(--HERO__Heading-SPAN-COLOR);
    transform: translateY(-4px);
}

.heading__buttons .heading__button--secondary {
    border-bottom: 2px solid rgba(233, 195, 73, 0.5);
    padding: 12px 24px;
    font-size: var(--font-base);
    color: var(--HEADER__Heading-COLOR);
}

.heading__buttons .heading__button--secondary:hover {
    border-bottom-color: rgba(233, 196, 73, 0.817);
    transition: 0.3s ease-in;
}

/* How It Works Section */

.how__it-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 84px;
}

.how__it-works-heading {
    text-align: center;
    line-height: 1.6em;
}

.how__it-works-heading .heading__icon {
    color: var(--ICON__COLOR);
    font-size: var(--font-lg);
}

.how__it-works-title {
    font-size: var(--font-xl);
    color: var(--HEADERS);
    font-weight: 400;
    margin-bottom: 20px;
}

.how__it-works-description {
    max-width: 720px; 
    color: var(--COLOR);
}

.how__it-works-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-top: 52px;
}

.how__it-works-card {
  border-radius: 24px;
  padding: 40px;
  
  /* Base color + Radial Gradient in top-right */
  background: 
    radial-gradient(
      circle at top right, 
      rgba(208, 232, 217, 0.3) 0%,   /* Faint green color */
      transparent 30%                 /* Fades out softly */
    ),
   #F5F3EF;
   
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.how__it-works-card:hover {
   transform: translateY(-4px); /* Slightly lifts card up */
    box-shadow: 0 12px 32px -4px rgba(20, 40, 25, 0.08), 
                0 4px 12px -2px rgba(20, 40, 25, 0.04);
    transition: 0.3s ease;
}

.how__it-works-card:nth-child(2) {
    background: 
    radial-gradient(
      circle at top right, 
      rgba(255, 220, 136, 0.3) 0%,   /* Faint green color */
      transparent 30%                 /* Fades out softly */
    ),
   #F5F3EF
}

.how__it-works-card:nth-child(3) {
    background: 
    radial-gradient(
      circle at top right, 
      rgba(213, 232, 207, 0.3) 0%,   /* Faint green color */
      transparent 30%                 /* Fades out softly */
    ),
   #F5F3EF
}

.how__it-works-icon {
    width: 64px;
    height: 64px;
    background-color: var(--BODY__BG);
    color: var(--HEADERS);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.5);
}

.how__it-works-icon--secondary {
    color: var(--ICON__COLORII);
}

.how__it-works-icon--tertiary {
    color: var(--ICON__COLOR3);
}

.how__it-works-header {
    margin-bottom: 16px;
    font-size: var(--font-base);
    font-weight: 320;
}

.how__it-works-text {
    color: var(--COLOR);
    line-height: 1.6em;
}

/* Features */

.features {
    display: flex;
    padding: 70px 128px;
}

.features__left {
    width: 100%;
    gap: 20px;
}

.features__left .feature__title {
    font-size: var(--font-xl);
    font-weight: 400;
    margin-bottom: 20px;
}

.feature__title--highlight {
    color: var(--HERO__Heading-SPAN-COLOR);
    font-style: italic;
}

.feature__meta {
   line-height: 1.6em;
   margin-bottom: 16px;
}

.feature__meta--primary {
    border-left: 2px solid var(--ICON__COLOR);
    padding: 16px 20px;
}

.feature__meta-item .feature__meta-head {
    font-size: var(--font-base);
    font-weight: 320px;
    margin-bottom: 20px;
}

.feature__meta-text {
    color: var(--COLOR);
}

.feature__meta--secondary {
    border-left: 2px solid var(--FEATURE__BORDER);
    padding: 16px 20px;
}

.features__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__image-container {
    position: relative;
    background-color: var(--FEATURE__IMG-BG);
    padding: 32px;
    border-radius: 32px;
}

.feature__image-container::before {
    content: '';
    position: absolute;
    top: 24px;
    left: 12px;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    z-index: -1; /* Set to -1 if you want the offset box sitting BEHIND the image */
    background-color: var(--FEATURE__IMG-Offset);
}

.features__right .feature__image {
    width: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.feature__sub-image {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 80px;
    background-color: var(--BODY__BG);
    border-radius: 16px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    animation: floatBounce 2.5s ease-in-out infinite;
}


@keyframes floatBounce {
    0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px); /* Float up 8px */
  }
}

/* Focus */

.focus {
    position: relative;
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 84px;

    background-color: var(--HEADERS);
    color: #FFFF;
    padding: 32px 40px;
}

.focus__rings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    object-fit: contain;
    overflow: hidden;

    z-index: 0;
    pointer-events: none;
    animation: spinRings 90s linear infinite;
    opacity: 0.9;
}

@keyframes spinRings {
    from {
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        transform: translateX(-50%) rotate(360deg);
    }
}

.focus__heading {
    margin-top: 20px;
}

.focus__heading-text {
    max-width: 720px;
    word-spacing: 4px;
    text-align: center;
    font-size: var(--font-xl);
    font-weight: 400;
}

.focus__text {
    width: inherit;
    text-align: center;
    margin-top: 20px;
    color: var(--FOCUS__Text-COLOR);
    line-height: 1.6em;
}

.focus__benefits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin: 20px;
    text-align: center;
}

.focus__benefit-value {
    font-weight: 400;
    color: var(--ICON__COLOR);
}

.focus__value-meta {
    color: var(--FOCUS__Text-COLOR);
    font-size: var(--font-sm);
    font-weight: 400;
}

/*  Final  CTA */

.final__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 84px;
}

.final__cta .final__cta-icon {
    font-size: var(--font-lg);
    color: var(--FEATURE__BORDER);
    margin-bottom: 20px;
}

.final__cta-heading {
    text-align: center;
    font-size: var(--font-xl);
    font-weight: 400;
    margin-bottom: 20px;
}

.final__cta-text {
    width: 100%;
    text-align: center;
    color: var(--COLOR);
    font-size: var(--font-base);
}

.final__cta-form {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 20px
}

.fina__cta-label {
    color: var(--COLOR);
    font-size: var(--font-base);
    font-weight: 320;
}

.final__cta-input {
    width: 100%;
    padding: 16px;
    color: var(--COLOR);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(114, 120, 116, 0.3);
    border-radius: 8px 8px 0 0;
    background-color: var(--CARD__BG);

    margin-top: 12px;
}

.final__cta-input:focus {
    outline: none;
}

/* Focus */

.focus {
   
}

/* Footer */

.footer__container {
    background-color: rgba(194, 200, 194, 0.2);
    color: var(--COLOR);
    margin-top: 120px;
    font-weight: 320;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 32px;
    gap: 16px;
    flex-wrap: wrap;
}

.footer__logo .footer__logo-text {
    font-size: var(--font-md);
    font-weight: 400;
    color: var(--COLOR);
}

.footer__logo {
    flex: 1 1 200px;
}

.footer__links {
    flex: 1 1 200px;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.footer__link {
    color: var(--COLOR);
}

.footer__bottom {
    flex: 1 1 200px;
    display: flex;
    justify-content: flex-end;
}

.footer__link {
    color: var(--HEADER__Heading-COLOR);
    text-decoration: none;
    font-size: 0.95rem;
}

.footer__text {
    font-size: var(--font-sm);
    font-weight: 360;
}

.footer__button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 32px;
    background-color: var(--HEADERS);
    color: #FFFF;
    padding: 20px 0;
    border-radius: 12px;

    font-size: var(--font-sm);
}

@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 24px;
    }

    .footer__logo,
    .footer__links,
    .footer__bottom {
        flex: none;
        width: 100%;
    }

    .footer__links {
        justify-content: center;
        margin: 12px 0;
        flex-wrap: wrap;
        gap: 16px;
    }

    .footer__bottom {
        justify-content: center;
        margin-top: 8px;
    }

    .home__page {
        height: auto;
        min-height: 100vh;
        padding: 32px 20px;
    }

    .heading__buttons {
        flex-direction: column;
        width: 100%;
    }

    .heading__description {
        width: 90%;
        margin: 0 auto;
    }

    .home__page-vector-img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.35;
    }

    .how__it-works-cards {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .features {
        flex-direction: column;
        margin-top: 84px;
        padding: 16px 20px;
    }

    .features__left {
        margin-top: 36px;
    }

    .focus {
        min-height: 700px;
        padding: 32px 20px;
        gap: 16px;
    }

    .focus__benefits {
        row-gap: 32px;
    }

    .focus__heading-text {
        font-size: calc(var(--font-xl) - 0.2rem);
    }

    .focus__text {
        width: 100%;
        padding: 0 8px;
    }

    .focus__benefits {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 44px;
    }

    .focus__rings {
        width: 140%;
        max-width: none;
        top: 45%;
        opacity: 0.45;
    }

    .final__cta,
    .final__cta-form {
        width: 100%;
        padding: 0 24px;
    }
}

/* Tablets Ipads */

@media (max-width: 1024px) {

    .how__it-works {
        padding: 16px 20px;
    }

    .features {
        width: 100%;
        padding: 16px 20px;
        gap: 32px;
        flex-direction: column-reverse;
        margin-top: 84px;
    }

    .focus {
        height: 40vh;
    }
}