.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(194, 200, 194, 0.3);
    box-shadow: 0 1px 8px rgba(7, 28, 19, 0.03);

    background-color: var(--HEADER__BG);
    color: var(--HEADER__COLOR);
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-img {
    width: 72px;
    object-fit: cover;
    
}

.header__logo-text {
    font-size: var(--font-lg);
    font-weight: 320px;
    color: var(--HEADER__Logo-COLOR);
}

.header__nav {
    display: flex;
    gap: 32px;
}

.header__nav-link {
    font-size: var(--font-base);
    font-weight: 360;
}

.header__nav-link:hover {
    color: var(--HEADERS);
    transition: color 0.4s ease-in-out;
}

.header__sign-up-link {
    font-size: var(--font-base);
    font-weight: 360;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--HERO__BTN-BG);
    color: var(--HERO__Button-COLOR);
}

.header__sign-up-link:hover {
    background-color: var(--HEADERS);
    transition: background-color 0.4s ease-in-out;
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header__nav {
        display: none;
    }
}