@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BODY__FONT: 'Hanken Grotesk', sans-serif;
  --HEADER__FONT: 'Tinos', serif;
  --BODY__BG: #FBF9F5;
  --COLOR: #424844;
  --HERO__Button-COLOR: #FFFF;
  --HEADERS: #071C13;
  --TEXT__COLOR: #424844;
  --FOCUS__Text-COLOR: #B4CCBE;
  --BORDER__COLOR: rgba(194, 200, 194, 0.3);

  /* Cards */
  --CARD__BG: #F5F3EF;

  /* Micro text: Captions, badges, tags (12px -> 14px) */
  --font-xs: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);

  /* Small text: Secondary info, meta details, helper text (14px -> 15px) */
  --font-sm: clamp(0.875rem, 0.84rem + 0.18vw, 0.938rem);

  /* Body / Base text: Default paragraphs, button labels (16px -> 18px) */
  --font-base: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);

  /* Subheadings / Card titles (18px -> 22px) */
  --font-md: clamp(1.125rem, 1.05rem + 0.38vw, 1.375rem);

  /* Section Titles / H3 (22px -> 28px) */
  --font-lg: clamp(1.375rem, 1.25rem + 0.63vw, 1.75rem);

  /* Secondary Headlines / H2 (28px -> 38px) */
  --font-xl: clamp(1.75rem, 1.55rem + 1vw, 2.375rem);

  /* Main Hero Headline / H1 (36px -> 56px) */
  --font-2xl: clamp(2.25rem, 1.8rem + 2.25vw, 96px);

  /* Header */
  --HEADER__BG: #FBF9F5;
  --HEADER__COLOR: #424844;
  --HEADER__Logo-COLOR: #071C13;
  
  /* Hero */
  --HERO__Eyebrow-COLOR: #424844;
  --HERO__Heading-COLOR: #071C13;
  --HERO__Heading-SPAN-COLOR: #4D6357;

  --HERO__BTN-BG: #071C13;

  --ICON__COLOR: #E9C349;
  --ICON__COLORII: #735C00;
  --ICON__COLOR3: #52634F;

  --FEATURE__BORDER: rgba(82, 99, 79, 0.3);
  --FEATURE__IMG-Offset: #EAE8E4;
  --FEATURE__IMG-BG: #EFEEEA;
}

body {
  font-family: var(--BODY__FONT);
  background-color: var(--BODY__BG);
}

h1, h2, h3, h4 {
  font-family: var(--HEADER__FONT);
}

a {
  text-decoration: none;
  color: inherit;
}